*, ::after, ::before {
    box-sizing: border-box;
}

body {
  
    line-height: 1.625em;
    position: relative;
    height: 100vh;
    padding-right: 0px !important;
  }



  /* search area related changes */

  .form-inline {
    justify-content: center;
}

input#inlineFormInputName2 {
    width: 20em;
}


/* card related changes goes here */

.cards-area {
    margin-top: 4em;
}

.cards-area {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-gap: 15px;
}

/* dropdown related cahnges goose here */

button#dropdown-basic-button{
    width: 9em;
}